@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
}

/* Light theme */
.theme-toggle.light {
  background-color: white;
  color: black;
}

.theme-toggle.light button {
  background-color: #4a90e2; /* Adjust as per your light theme color */
  color: white;
}

/* Dark theme */
.theme-toggle.dark {
  background-color: black;
  color: grey;
}

.theme-toggle.dark button {
  background-color: #4a90e2; /* Adjust as per your dark theme color */
  color: white;
}
